{% extends 'google_database/base.html' %}

{% block title %}Google Database{% endblock %}

{% block extraHead %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'google_database/google_db_styles.css' %}" />
{% endblock %}

{% block body %}

<div class="row flex">
	<div id="col1" class="col l2">
		<p>COLUMN 1</p>
		<form id="searchHeight" , method="POST">
			<div class="input-field">
				{% csrf_token %}
				<input id="search" class="searchBar" type="search" , name="inputText">
				<label class="label-icon" for="search"><i class="material-icons">search</i></label>

			</div>
		</form>
	</div>
	<div id="col2" class="col l9">
		<p>COLUMN 2</p>
		{% for item,desc in outputText %}
		<div class="description">
			<img class="landscape" src="{{ item }}">
			<p>{{ desc }}</p>
		</div>
		{% endfor %}
		<p>
			{{ tmp }}
		</p>
	</div>
	<div id="col3" class="col l1">
		<p>COLUMN3</p>
	</div>





	<script src="{% static 'google_database/scripts/main.js' %}"></script>

	{% endblock %}