{% extends 'google_database/base.html' %}

{% block title %}Google Database{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'google_database/google_db_styles.css' %}"/>
{% endblock %}

{% block body %}


<div id="#test1">
    <p>test</p>
</div>


<!--
    <div class="topnav">
        <a class="active" href="#stocks">Stocks</a>
        <a href="#content">Content</a>
        <input type="text" placeholder="Search..">
    </div>


    <table>
        <tr>
            <th>Article</th>
            <th>Matching Contents</th>
        </tr>
        <tr>
            <td>TechNewz</td>
            <td>Intel is killin the game.</td>
        </tr>
        <tr>
            <td>Gadget Club</td>
            <td>5.0 GHz, nuff said.</td>
        </tr>
    </table>
-->

{% endblock %}