#context {
	width: 100%;
	position: relative;
	background-color: rgb(8, 255, 62);
}

#row0 {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

#left {
	width: 20%;
	background-color: rgb(9, 202, 202);
}
#middle {
	width: 100%;
	background-color: darkblue;
}

body{
	background-color: rgb(27, 72, 109);
}