html{
	padding: 0;
	margin: 0;
}
body{
	background-color: rgb(27, 72, 109);
	padding: 0;
	margin: 0;
}

.constrict {
	width: 70%;
}

.flex {
	display: flex;
	min-height: 100vh;
}

#col1 {
	background-color: red;
}

#col2 {
	background-color: green;
}

#col3 {
	background-color: blue;
}