<!DOCTYPE html>
  <html>
    <head>

      <!-- Add Material font (Roboto) and Material icon as needed -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Add Material CSS, replace Bootstrap CSS -->
      <link href="/material/css/material.min.css" rel="stylesheet">
      <!-- Additional CSS for documentation site -->
      <link href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" rel="stylesheet">
      <link href="https://getbootstrap.com/docs/4.1/assets/css/docs.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">



      <!-- DROOPDOWNS -->
      <ul id="google" class="dropdown-content">
          <li><a href="#!">Viewer</a></li>
          <li><a href="#!">Analysis</a></li>
          <li><a href="#!">Database</a></li>
        </ul>
        <ul id="alphav" class="dropdown-content">
          <li><a href="#">Viewer1</a></li>
          <li><a href="#">Analysis1</a></li>
          <li><a href="#">Database1</a></li>
        </ul>

      <nav>
        <!-- header layout -->
        <div class="nav-wrapper blue">
          <a class="brand-logo right"><img src="/static/NIA_STEM_LOGO.png" alt="" class="responsive-img" style="height:55px; margin-top:5px"></img></a>
          <ul class="left">
            <li><a href="" class="waves-effect waves-light">Home</a></li>
            <li><a href="/admin" class="waves-effect waves-light">Admin</a></li>

            <li><a href="#" class="dropdown-button" data-activates="google">Google Viewer</a></li>

            <li><a href="#" class="dropdown-button" data-activates="alphav">Google Database</a></li>
            <li><a href="#" class="dropdown-button" data-activates="alphav">Google Analysis</a></li>
            <li><a href="#" class="dropdown-button" data-activates="google">Alpha Viewer</a></li>

            <li><a href="#" class="dropdown-button" data-activates="alphav">Alpha Database</a></li>
            <li><a href="#" class="dropdown-button" data-activates="alphav">Alpha Analysis</a></li>
          </ul>
        </div>

       
      </nav>
      
      <!-- Test area--->
      <title>NIA STEM Club Homepage</title>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    
    <body>

      <!-- JavaScript -->
      <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script crossorigin="anonymous" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script crossorigin="anonymous" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <!-- Additional JavaScript for documentation site -->
      <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>

      <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </body>


  </html>

