alpha-vantage==2.1.0
beautifulsoup4==4.6.3
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
Django==2.2.24
django-extensions==2.1.5
et-xmlfile==1.0.1
firebase==3.0.1
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
httplib2==0.12.1
idna==2.8
jdcal==1.4
kiwisolver==1.0.1
lxml==4.3.3
matplotlib==3.0.2
numpy==1.16.1
openpyxl==2.6.0
Pillow==5.4.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
rsa==4.0
six==1.12.0
uritemplate==3.0.0
urllib3==1.24.1
